<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
Below are covered in this notebook
1. Popular langauge of data science
2. Commonly used libraries by Data scientists
3. Data science tools
4. Arthemtic operation

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. JAVA SCRIPT
5. JAVA
6. SCALA

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Keras

In [ ]:
| Data Science Tools |
:--------------------:
|   Apache Spark     |
|   Julia            |
|   Juputer Notebook |
|   Keyras           |

<h3>Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [ ]:
x = 3

In [ ]:
y = 4

In [ ]:
m = 5

In [ ]:
a = (x*y) + m
#This a simple arithmetic expression to mutiply then add integers

print ('Final Value', a)

In [ ]:
#This will convert 200 minutes to hours by diving by 60
hours = 200/60
print ('no of hours', hours)

<h2> Author </h2> Tamil Maran S